MobilSemProjekt.MVVM/Connected Services/LocationServiceReference/LocationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/LocationService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/LocationService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/LocationService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MobileService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocationService_GetLocationById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationById" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocationsByTagName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsByTagName" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocationsByTagName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsByTagNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocationByLocationName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationByLocationName" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocationByLocationName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationByLocationNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetAllLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocations" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetAllLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_TestMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:TestMethod" />
  </wsdl:message>
  <wsdl:message name="ILocationService_TestMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="ILocationService">
    <wsdl:operation name="GetLocationById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetLocationById" message="tns:ILocationService_GetLocationById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetLocationByIdResponse" message="tns:ILocationService_GetLocationById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationsByTagName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetLocationsByTagName" message="tns:ILocationService_GetLocationsByTagName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetLocationsByTagNameResponse" message="tns:ILocationService_GetLocationsByTagName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationByLocationName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetLocationByLocationName" message="tns:ILocationService_GetLocationByLocationName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetLocationByLocationNameResponse" message="tns:ILocationService_GetLocationByLocationName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetAllLocations" message="tns:ILocationService_GetAllLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetAllLocationsResponse" message="tns:ILocationService_GetAllLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/TestMethod" message="tns:ILocationService_TestMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/TestMethodResponse" message="tns:ILocationService_TestMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILocationService" type="tns:ILocationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocationById">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetLocationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationsByTagName">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetLocationsByTagName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationByLocationName">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetLocationByLocationName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetAllLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestMethod">
      <soap:operation soapAction="http://tempuri.org/ILocationService/TestMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationService">
    <wsdl:port name="BasicHttpBinding_ILocationService" binding="tns:BasicHttpBinding_ILocationService">
      <soap:address location="http://localhost:8733/LocationService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>