MobilSemProjekt.MVVM/Connected Services/LocationServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MobileService.Model" />
  <xs:element name="GetLocationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MobileService.Model" minOccurs="0" name="GetLocationByIdResult" nillable="true" type="q1:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MobileService.Model" minOccurs="0" name="location" nillable="true" type="q2:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLocationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsByTagName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsByTagNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MobileService.Model" minOccurs="0" name="GetLocationsByTagNameResult" nillable="true" type="q3:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationByLocationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationByLocationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MobileService.Model" minOccurs="0" name="GetLocationByLocationNameResult" nillable="true" type="q4:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MobileService.Model" minOccurs="0" name="GetAllLocationsResult" nillable="true" type="q5:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestMethod">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestMethodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>